<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="name" value="zlp"/>
    <add key="authors" value="kmgy"/>
    <add key="version" value="0.0.3"/>
    <add key="now" value="1"/>
    <add key="speed" value="2"/>
    <add key="volume" value="50"/>
    <add key="loop" value="false"/>
    <add key="auto" value="false"/>
    <add key="top" value="false"/>
    <add key="rewind" value="5"/>
    <add key="forward" value="5"/>
    <add key="x" value="0"/>
    <add key="y" value="0"/>
    <add key="key_rewind" value="Left"/>
    <add key="key_forward" value="Right"/>
    <add key="key_speed_up" value="Up"/>
    <add key="key_speed_down" value="Down"/>
    <add key="key_prev" value="P"/>
    <add key="key_next" value="N"/>
    <add key="key_loop" value="L"/>
    <add key="key_auto" value="A"/>
    <add key="key_start_stop" value="Space"/>
    <add key="key_restart" value="Enter"/>
    <add key="opacity" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
